<!DOCTYPE html>
<h2>Taller 4 - Sofía Ibarra</h2>
<p class="p1">Este es un párrafo azul, tamaño 16 px y fuente arial</p>
<p class="p2">Este es un párrafo morado, tamaño 12px y fuente importada Nerko One</p>

<ul>
    <li><a href="https://youtu.be/eHHQaoEW30Q?si=6LXXorVlkSNAsvbu" target="_blank">TWICE - This Is For</a></li>
    <li><a href="https://youtu.be/xWldBK4d2Ps?si=CG4GxEym0k3JhT-8" target="_blank"> TWICE - Enemy</a></li>
    <li><a href="https://youtu.be/Sz_wWzgh-vQ?si=Zv0nZDLNeYk3gKhl" target="_blank">TWICE - Strategy</a></li>
</ul>

<table>
    <tr>
        <th>MV</th>
        <th>Views</th>
        <th>Likes</th>
    </tr>
    <tr>
        <td>This is for</td>
        <td>47M</td>
        <td>1.5M</td>
    </tr>
    <tr>
        <td>Enemy</td>
        <td>5M</td>
        <td>265k</td>
    </tr>
    <tr>
        <td>Strategy</td>
        <td>99M</td>
        <td>1.6M</td>
    </tr>
</table>

<div>
    <app-contenedor></app-contenedor>
</div>

<router-outlet />

