<h2>Demostración de 10 componentes PrimeNG</h2>

<app-menu-demo></app-menu-demo>
<br/>
<app-card-demo></app-card-demo>
<app-panel-demo></app-panel-demo>
<br/>
<label>Nombre de usuario</label>
<app-inputtext-demo></app-inputtext-demo>
<br/>
<label>Contraseña</label>
<password-basic-demo></password-basic-demo>
<br/>
<label>Género</label>
<radio-button-group-demo></radio-button-group-demo>
<br/>
<label>Fecha de nacimiento</label>
<app-datepicker-demo></app-datepicker-demo>
<br/>
<label>Acepto los términos y condiciones</label>
<br/>
<br/>
<app-checkbox-demo></app-checkbox-demo>
<br/>
<app-button-demo></app-button-demo>
<br/>
<toast-basic-demo></toast-basic-demo>

