<div class="card flex justify-center">
    <p-toast position="top-center" key="confirm" (onClose)="onClose()" [baseZIndex]="5000">
        <ng-template let-message #headless let-closeFn="closeFn">
            <section class="flex flex-col p-4 gap-4 w-full bg-primary/70 rounded-xl">
                <div class="flex items-center gap-5">
                    <i class="pi pi-cloud-upload text-white dark:text-black text-2xl"></i>
                    <span class="font-bold text-base text-white dark:text-black">{{ message.summary }}</span>
                </div>
                <div class="flex flex-col gap-2">
                    <p-progressbar [value]="progress" [showValue]="false" [style]="{ height: '4px' }" class="!bg-primary/80" />
                    <label class="text-sm font-bold text-white dark:text-black">{{ progress }}% uploaded</label>
                </div>
                <div class="flex gap-4 mb-4 justify-end">
                    <p-button label="¿Estás segurx de registrarte?" (click)="closeFn($event)" size="small" />
                    <p-button label="Cancelar" (click)="closeFn($event)" size="small" />
                </div>
            </section>
        </ng-template>
    </p-toast>
    <p-button (click)="showConfirm()" label="Enviar mis datos" />
</div>